<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">{{App.Alerts}}</h1>
  </div>
  <div class="box-body">
    <div class="col-3">
      <p class="alert alert-error">
        <span>Este é um alerta</span>
        <b class="alt-btn-close"></b>
      </p>
    </div>
    <div class="col-3">
      <p class="alert alert-success">
        <span>Este é um alerta</span>
        <b class="alt-btn-close"></b>
      </p>
    </div>
    <div class="col-3">
      <p class="alert alert-warning">
        <span>Este é um alerta</span>
        <b class="alt-btn-close"></b>
      </p>
    </div>
    <div class="col-3">
      <p class="alert alert-info">
        <span>Este é um alerta</span>
        <b class="alt-btn-close"></b>
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="box-footer"></div>
</div>
