<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">{{App.Buttons}}</h1>
  </div>
  <div class="box-body">
    <button type="button" name="button" class="btn">btn</button>
    <button type="button" name="button" class="btn btn-info">btn-info</button>
    <button type="button" name="button" class="btn btn-warning">btn-warning</button>
    <button type="button" name="button" class="btn btn-danger">btn-danger</button>
    <button type="button" name="button" class="btn btn-primary">btn-primary</button>
    <button type="button" name="button" class="btn btn-success">btn-success</button>
  </div>
  <div class="box-footer">
  </div>
</div>
