<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">{{App.Forms}}</h1>
  </div>
  <div class="box-body">
      <div class="col-4">
          <form class="form-style" action="#" onsubmit="return false;" method="GET">
              <p>Cadastro de produtos:</p>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList__id}}</label>
                      <input type="number" name="name" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_name}}</label>
                      <input type="text" name="name" value="">
                  </div>
              </div>
              <div class="row">
                  <label>{{App.BuyList_description}}</label>
                  <input type="text" name="description" value="">
              </div>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList_price}} </label>
                      <select class="col-6" name="coin">
                          <option value="R$">R$</option>
                          <option value="US$">US$</option>
                          <option value="Euro">Euro</option>
                      </select>
                      <input class="col-6" type="text" name="price" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_qty}}</label>
                      <input type="number" name="qty" value="">
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <input type="submit" class="btn btn-info" value="{{App.Register}}">
                  </div>
              </div>
          </form>
      </div>

      <div class="col-4">
          <form class="form-style" action="#" onsubmit="return false;" method="GET">
              <p>Cadastro de produtos:</p>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList__id}}</label>
                      <input type="number" name="name" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_name}}</label>
                      <input type="text" name="name" value="">
                  </div>
              </div>
              <div class="row">
                  <label>{{App.BuyList_description}}</label>
                  <input type="text" name="description" value="">
              </div>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList_price}} </label>
                      <select class="col-6" name="coin">
                          <option value="R$">R$</option>
                          <option value="US$">US$</option>
                          <option value="Euro">Euro</option>
                      </select>
                      <input class="col-6" type="text" name="price" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_qty}}</label>
                      <input type="number" name="qty" value="">
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <input type="submit" class="btn btn-warning" value="{{App.Edit}}">
                  </div>
              </div>
          </form>
      </div>

      <div class="col-4">
          <form class="form-style" action="#" onsubmit="return false;" method="GET">
              <p>Cadastro de produtos:</p>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList__id}}</label>
                      <input type="number" name="name" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_name}}</label>
                      <input type="text" name="name" value="">
                  </div>
              </div>
              <div class="row">
                  <label>{{App.BuyList_description}}</label>
                  <input type="text" name="description" value="">
              </div>
              <div class="row">
                  <div class="col-6">
                      <label>{{App.BuyList_price}} </label>
                      <select class="col-6" name="coin">
                          <option value="R$">R$</option>
                          <option value="US$">US$</option>
                          <option value="Euro">Euro</option>
                      </select>
                      <input class="col-6" type="text" name="price" value="">
                  </div>
                  <div class="col-6">
                      <label>{{App.BuyList_qty}}</label>
                      <input type="number" name="qty" value="">
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <input type="submit" class="btn btn-danger" value="{{App.Delete}}">
                  </div>
              </div>
          </form>
      </div>
      <div class="clear"></div>
  </div>
  <div class="box-footer"></div>
</div>
