<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">{{App.GridSystem}}</h3>
  </div>
  <div class="box-body" style="text-align: center;">
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>
      <div class="col-1 border-box">col-1</div>

      <div class="clear"></div>

      <div class="col-2 border-box">col-2</div>
      <div class="col-2 border-box">col-2</div>
      <div class="col-2 border-box">col-2</div>
      <div class="col-2 border-box">col-2</div>
      <div class="col-2 border-box">col-2</div>
      <div class="col-2 border-box">col-2</div>

      <div class="clear"></div>

      <div class="col-3 border-box">col-3</div>
      <div class="col-3 border-box">col-3</div>
      <div class="col-3 border-box">col-3</div>
      <div class="col-3 border-box">col-3</div>

      <div class="clear"></div>

      <div class="col-4 border-box">col-4</div>
      <div class="col-4 border-box">col-4</div>
      <div class="col-4 border-box">col-4</div>

      <div class="clear"></div>


      <div class="col-5 border-box">col-5</div>
      <div class="col-7 border-box">col-7</div>

      <div class="clear"></div>

      <div class="col-11 border-box">col-11</div>
      <div class="col-1 border-box">col-1</div>

      <div class="clear"></div>

      <div class="col-12 border-box">col-12</div>
    <div class="clear"></div>
  </div>
  <div class="box-footer"></div>
</div>
